
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{fileName}}
            </mat-panel-title>
            <mat-panel-description>
                <mat-icon color="warn" aria-hidden="false" aria-label="Error" fontIcon="error"></mat-icon>&nbsp;{{error}} Errors
                <mat-icon color="accent" aria-hidden="false" aria-label="Warning" fontIcon="warning"></mat-icon>&nbsp;{{warning}} Warnings
                <mat-icon color="primary" aria-hidden="false" aria-label="Information" fontIcon="info"></mat-icon>&nbsp;{{information}} Info
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(ngModel)]="selected" (ngModelChange)="applyFilter($event)">
                <mat-option>None</mat-option>
                <mat-option value="error">Error</mat-option>
                <mat-option value="warning">Warning</mat-option>
                <mat-option value="information">Information</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                   matSort #hrSort="matSort" (matSortChange)="announceSortChange($event)"
                   matSortActive="date" matSortDirection="desc" matSortDisableClear>

            <ng-container matColumnDef="issue">
                <th mat-header-cell style="width: 5%;" mat-sort-header *matHeaderCellDef > Issue </th>
                <td mat-cell *matCellDef="let activity">
                                      <span *ngIf="activity.severity === 'error'">
                                          <mat-icon color="warn" aria-hidden="false" aria-label="Error" fontIcon="error"></mat-icon>

                                      </span>
                    <span *ngIf="activity.severity === 'warning'">
                                        <mat-icon color="accent" aria-hidden="false" aria-label="Warning" fontIcon="warning"></mat-icon>

                                      </span>
                    <span *ngIf="activity.severity === 'information'">
                                        <mat-icon color="primary" aria-hidden="false" aria-label="Information" fontIcon="info"></mat-icon>

                                      </span>

                </td>
            </ng-container>
            <ng-container matColumnDef="flag">
                <th mat-header-cell style="width: 5%;" mat-sort-header *matHeaderCellDef > Level </th>
                <td mat-cell *matCellDef="let activity">

                  <span *ngIf="activity.diagnostics !== undefined ">
                        <span *ngIf="activity.diagnostics.includes('https://fhir.nhs.uk/England/')">
                             <span class="fi fi-gb-eng"></span>
                        </span>
                       <span *ngIf="activity.diagnostics.includes('https://fhir.hl7.org.uk/')">
                             <span class="fi fi-gb"></span>
                       </span>
                      <span *ngIf="activity.diagnostics.includes('http://hl7.org/fhir/uv/')">
                             <span class="fi fi-eu"></span>
                       </span>
                  </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="location">
                <th mat-header-cell style="width: 200px; max-width: 200px" mat-sort-header *matHeaderCellDef > Location </th>
                <td mat-cell *matCellDef="let activity">

                                      <span *ngIf="activity.location !== undefined">
                                          <span *ngIf="activity.location.length > 0">{{activity.location[0].replaceAll('.',' .')}}</span>
                                        <span *ngIf="activity.location.length > 1"><br/>{{activity.location[1]}}</span>
                                      </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="diagnostic">
                <th mat-header-cell *matHeaderCellDef > Diagnostic </th>
                <td mat-cell *matCellDef="let activity">
                    {{activity.diagnostics}}
                </td>
            </ng-container>
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Details </th>
                <td mat-cell *matCellDef="let activity">
                                    <span *ngIf="activity.details !== undefined && activity.details.coding !== undefined">
                                        <span *ngFor="let code of activity.details.coding">
                                            {{code.code}}
                                        </span>
                                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <mat-row *matNoDataRow>
                <td class="mat-cell" colspan="7">No data matching the filter </td>
            </mat-row>
        </mat-table>

    </mat-expansion-panel>

