<mat-card xmlns="http://www.w3.org/1999/html" class="fullscreen">
    <mat-card-header >
        <h2>ECL Builder</h2>
    </mat-card-header>
    <mat-card-content>
        <p>Investigation into <a href="https://browser.ihtsdotools.org/?perspective=full&conceptId1=404684003&edition=MAIN/2024-05-01&release=&languages=en" target="_blank">SNOMED CT ECL Builder</a>
        Due to auth issues with NHS E shrimp version
        </p>
        <mat-form-field style="width: 100%">
            <mat-label>Enter an ECL query</mat-label>
            <textarea matInput [(ngModel)]="ecl"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="5"
                      cdkAutosizeMaxRows="5"  (keyup)="searchType()" ></textarea>
        </mat-form-field>
        <table>
            <tr>
                <td>SNOMED Answer ValueSet Uri</td>
                <td>{{answerValueSetURI}}</td>
            </tr>
        </table>
        <button mat-button [color]="canExecute ? 'primary' : 'warn'" (click)="execute()" [disabled]="!canExecute">Execute</button>
        <br/>
        <h3>Include</h3>
        <span *ngFor="let ecl of statements">
            <app-snomed-ecl-picker [ecl]="ecl" (eclAdded)="addEcl($event,false)" [count]="statements.length"></app-snomed-ecl-picker>
        </span>
        <table>
            <tr>
                <td><h3>Exclude</h3></td>
                <td><section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="excluded" (click)="exclude($event)">Exclude</mat-checkbox>
                </section></td>
            </tr>
        </table>

        <span *ngFor="let ecl of excludeStatements">
            <app-snomed-ecl-picker [ecl]="ecl" (eclAdded)="addEcl($event,true)" [count]="excludeStatements.length"></app-snomed-ecl-picker>
        </span>


        <span *ngIf="dataSource !== undefined">
                <br/>
                <h3>Results</h3>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

                    <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Code </th>
                    <td mat-cell *matCellDef="let element">
                        <app-concept-display [coding]="element" codeOnly=true></app-concept-display>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="display">
                    <th mat-header-cell *matHeaderCellDef> Display </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.display}}
                  </td>
                  </ng-container>
                  <ng-container matColumnDef="codesystem">
                    <th mat-header-cell *matHeaderCellDef> Code System </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.system}}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                 <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>
                <br/>
            </span>
    </mat-card-content>
</mat-card>
