
<span *ngIf="questionnaire !== undefined">
    <div
            *tdLoading="
   'overlayStarSyntax';
   mode: loadingMode.Indeterminate;
   type: loadingType.Circular;
   strategy: loadingStrategy.Overlay;
   color: 'accent'
 "
    >
     <div layout="row" layout-align="space-between right">
         <button color = "primary" mat-button [matMenuTriggerFor]="showmenu">Show/Extract</button>
            <mat-menu #showmenu="matMenu">
               <button mat-menu-item (click)="viewQuestionnaireResponse('data-extraction-bundle.json')" >QuestionnaireResponse (Completed Form)</button>
                <span *ngIf="patientId !== undefined">
                    <button mat-menu-item (click)="extractQuestionnaireResponse('data-extraction-bundle.json')" download=>Data Extraction</button>
                </span>
            </mat-menu>
             <span *ngIf="patientId !== undefined && this.questionnaire !== undefined && this.questionnaire.id !== undefined">
                    <button color = "primary" mat-button (click)="submit()" >Submit</button>
             </span>
     </div>
    <div #myFormContainer ></div>
    </div>
 </span>
