.container {
  height: auto;
  overflow: hidden;
  position: relative;
}
.div1{
  width:50%;
  margin-bottom:-16px;
}
.div2{
  width:50%;
  margin:0px;
  float: right;
  overflow: hidden;

}

.mat-card.scrollable-content {
  overflow-y: auto;
}
.fullscreen {
  height: 100%;
  width: 100%;
}
