<mat-card>
    <mat-card-header>
        <h3>Questionnaire</h3>
    </mat-card-header>
    <mat-card-content>
        <div layout="row" class="container">
            <div class="div1" >
                <td-markdown>{{ markdown }}</td-markdown>
                <div layout="row" layout-align="space-between center">
                    <mat-form-field class="example-full" flex="100">
                        <mat-label>Select a FHIR Questionnaire</mat-label>
                        <mat-select name="status" [(ngModel)]="questionnaire" (ngModelChange)="applyQuestionnaire($event)">
                            <mat-option *ngFor="let profile of questionnaires" [value]="profile">
                                <span *ngIf="profile.title !== undefined">{{profile.title}}</span>
                                <span *ngIf="profile.title === undefined">{{profile.name}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div style="height: calc(100vh - 280px)" >
                    <ngx-monaco-editor  class="my-code-editor"  style="height: 100%;" [options]="editorOptions" [(ngModel)]="data" (ngModelChange)="checkType()" (onInit)="onInit($event)"></ngx-monaco-editor>
                </div>
            </div>
            <div class="div2" >
                <div layout="row">
                    <td-file-input
                            class="push-left-sm push-right-sm"
                            #fileInput
                            [(ngModel)]="file"
                            (selectFile)="selectFileEvent($event)"
                            accept=".json,.xml"
                    >
                        <mat-icon>folder</mat-icon>
                        <span class="text-upper">Browse...</span>
                    </td-file-input>
                    <span *ngIf="data !== undefined">
                     <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>&nbsp;
                        <span *ngIf="form !== undefined">
                            <button mat-raised-button [matMenuTriggerFor]="menu">Save</button>
                            <mat-menu #menu="matMenu">
                                <a mat-menu-item color="primary"  [href]="downloadQuestionnaire()" download="questionnaire.json">Questionnaire</a>
                                <a mat-raised-button color="primary"  [href]="downloadQuestionnaireResponse()" download="questionnaire-response.json">QuestionnaireResponse</a>
                            </mat-menu>
                          </span>
                    </span>
                </div>
                <div #myFormContainer ></div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
