<mat-drawer-container class="page-container" autosize>
    <mat-drawer #drawer opened="true" [style]="getWidth()" mode="side">
        <mat-card>
            <mat-card-header>
                <h2>Structured Data Capture</h2>
            </mat-card-header>
            <mat-card-content>
                <div layout="row">
                    <button mat-raised-button (click)="openInfo()" matTooltip="Links to useful resources.">
                        <mat-icon>info</mat-icon>
                    </button>
                    <td-file-input
                            class="push-left-sm push-right-sm"
                            #fileInput
                            [(ngModel)]="file"
                            (selectFile)="selectFileEvent($event)"
                            accept=".json,.xml"
                    >
                        <mat-icon>folder</mat-icon>
                        <span class="text-upper">Open</span>
                    </td-file-input>
                    <span *ngIf="data !== undefined">
                             <button mat-raised-button (click)="refresh()">Refresh</button>&nbsp;
                             <button mat-raised-button (click)="save()" matTooltip="Save the form to the database">Save</button>&nbsp;
                             <span *ngIf="visible !== 1">
                                  <button mat-raised-button (click)="visibleOpt(1)">Show Editor</button>&nbsp;
                             </span>
                            <span *ngIf="visible == 1">
                                  <button mat-raised-button (click)="visibleOpt(0)">Hide Editor</button>&nbsp;
                             </span>
                             <span *ngIf="openEHR">
                                    <button mat-raised-button (click)="showFHIR()">Show FHIR</button>&nbsp;
                             </span>
                    </span>
                </div>
                <div *ngIf="visible == 0" layout="row" layout-align="space-between center">
                    <mat-nav-list>
                        @for (profile of questionnaires; track profile) {
                            <mat-list-item (click)="applyQuestionnaire(profile)">
                                    {{ profile.title }}
                            </mat-list-item>
                        }
                    </mat-nav-list>

                </div>
                <span *ngIf="visible == 1">
                <div style="height: calc(100vh - 280px)" >
                    <ngx-monaco-editor  class="my-code-editor"  style="height: 100%;" [options]="editorOptions" [(ngModel)]="data" (ngModelChange)="checkType()" (onInit)="onInit($event)"></ngx-monaco-editor>
                </div>
                </span>

            </mat-card-content>
        </mat-card>
    </mat-drawer>
    <mat-card class="fullscreen scrollable-content">
        <mat-card-header>
            <button mat-raised-button [matMenuTriggerFor]="populate" matTooltip="Select a patient to enable automatic form population from existing data">Select Patient</button>
            &nbsp; &nbsp;
            <h2 *ngIf="patientId !== undefined">{{getPatient()}}</h2>
        </mat-card-header>
        <mat-menu #populate="matMenu">
            <span *ngFor="let pat of patients">
                <button mat-menu-item (click)="populateClick(pat)">{{pat.text}}</button>
            </span>
        </mat-menu>
    <div >

                    <div #myFormContainer ></div>
                    <span *ngIf="form !== undefined">
                         <div layout="row" layout-align="space-between right">
                                <button mat-raised-button [matMenuTriggerFor]="menu">Download</button>
                                <mat-menu #menu="matMenu">
                                    <a mat-menu-item [href]="downloadQuestionnaire()" download="questionnaire.json">Questionnaire (Form Definition)</a>
                                    <a mat-menu-item [href]="downloadQuestionnaireResponse()" download="questionnaire-response.json">QuestionnaireResponse (Completed Form)</a>

                                </mat-menu>
                             <button mat-raised-button [matMenuTriggerFor]="showmenu">Show</button>
                                <mat-menu #showmenu="matMenu">
                                   <button mat-menu-item (click)="viewQuestionnaireResponse('data-extraction-bundle.json')" >QuestionnaireResponse (Completed Form)</button>
                                    <span *ngIf="patientId !== undefined">
                                        <button mat-menu-item (click)="extractQuestionnaireResponse('data-extraction-bundle.json')" download=>Data Extraction</button>
                                    </span>
                                </mat-menu>
                                 <span *ngIf="patientId !== undefined && this.questionnaire !== undefined && this.questionnaire.id !== undefined">
                                        <button color="accent" mat-raised-button (click)="submit()" >Submit</button>
                                 </span>
                         </div>
                     </span>

    </div>

    </mat-card>
</mat-drawer-container>

