<mat-drawer-container class="page-container" autosize>
    <mat-drawer #drawer [opened]="!readonly" style="width: 20%;" mode="side">
        <mat-card>
            <mat-card-header>
                <h2>Questionnaires</h2>
            </mat-card-header>
            <mat-card-content>
                <div layout="row">
                   <!-- <button mat-button (click)="openInfo()" matTooltip="Links to useful resources.">
                        <mat-icon>info</mat-icon>
                    </button> -->
                    <td-file-input
                            class="push-left-sm push-right-sm"
                            #fileInput
                            [(ngModel)]="file"
                            (selectFile)="selectFileEvent($event)"
                            accept=".json,.xml"
                            color = "primary"
                    >
                        <mat-icon>folder</mat-icon>
                        <span class="text-upper">Open</span>
                    </td-file-input>

                </div>
                <div layout="row" layout-align="space-between center">
                    <mat-nav-list>
                        @for (profile of questionnaires; track profile) {
                            <mat-list-item *ngIf="profile.title !== undefined" (click)="selectQuestionnaire(profile)" [matTooltip]="profile.title">
                                    {{ profile.title }}
                            </mat-list-item>
                        }
                    </mat-nav-list>

                </div>
            </mat-card-content>
        </mat-card>
    </mat-drawer>
    <mat-card class="fullscreen scrollable-content">
        <mat-menu #populate="matMenu">
            <span *ngFor="let pat of patients">
                <button mat-menu-item (click)="populateClick(pat)">{{pat.text}}</button>
            </span>
        </mat-menu>
            <mat-card-header>
                <mat-toolbar style="background-color: white" >
                    {{ questionnaire?.title }}
                    <span class="example-spacer"></span>
                    <span *ngIf="patientId !== undefined">{{getPatient()}}</span>
                    <button color = "primary" mat-icon-button [matMenuTriggerFor]="populate" matTooltip="Select a patient to enable automatic form population from existing data"><mat-icon>person</mat-icon></button>
                    <!-- <button color = "primary" *ngIf="!readonly" mat-icon-button matTooltip="National Laboratory of Medicine Form Builder" (click)="openInfo()"><mat-icon>edit</mat-icon></button> -->
                    <button color = "primary" *ngIf="!readonly" mat-icon-button (click)="openEditor()"><mat-icon>edit</mat-icon></button>
                    <button color = "primary" *ngIf="questionnaire !== undefined" mat-icon-button matTooltip="Copy link to clipboard" (click)="copyMessage()"><mat-icon>content_copy</mat-icon></button>
                </mat-toolbar>
            </mat-card-header>
            <mat-card-content>


        <mat-tab-group (selectedTabChange)="changedTab($event)">
            <mat-tab label="Information">
                <span *ngIf="currentTab == 0">
                    <app-questionnaire-information [formDefinition]="questionnaire" [readonly]="readonly" (questionnaireChanged)="updateQuestionnaire($event)"></app-questionnaire-information>
                </span>
            </mat-tab>
            <mat-tab label="Model Detail">
                <span *ngIf="currentTab == 1">
                   <br/>
                 <app-questionnaire-definition [formDefinition]="questionnaire" [readonly]="readonly" (questionnaireChanged)="updateQuestionnaire($event)"></app-questionnaire-definition>
                </span>
            </mat-tab>

            <mat-tab label="Demonstration">
               <span *ngIf="currentTab == 2">
                    <app-questionnaire-form [patient]="patientId" [readonly]="readonly" [formDefinition]="questionnaire" ></app-questionnaire-form>
               </span>
            </mat-tab>
            <mat-tab label="JSON Editor">
                <span *ngIf="currentTab == 3">
                    <!-- delay activation of component until it is needed to be display -->
                 <app-questionnaire-edit [formDefinition]="questionnaire" [readonly]="readonly" (questionnaireChanged)="updateQuestionnaire($event)"></app-questionnaire-edit>
                </span>
            </mat-tab>

        </mat-tab-group>
            </mat-card-content>
    </mat-card>
</mat-drawer-container>

