<div *ngIf="item !== undefined" style="width: 100%" class="example-headers-align">
    <mat-expansion-panel hideToggle (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
        <mat-expansion-panel-header style="min-height: inherit" [collapsedHeight]="'auto'" [expandedHeight]="'auto'" >
            <mat-panel-title >
               {{item.prefix}} {{item.text}}
            </mat-panel-title>
            <mat-panel-description>
                 <span>
                    <mat-chip-set aria-label="Item Type">
                        <span *ngIf="item.type !== undefined && (item.type == 'group' || !panelOpenState)">
                                <mat-chip>{{ item.type }}</mat-chip>
                        </span>
                         <span *ngIf="item.required !== undefined && item.required">
                                <mat-chip style="background-color: #feebeb">Required</mat-chip>
                        </span>
                        <span *ngIf="item.repeats !== undefined && item.repeats">
                                <mat-chip>Repeats</mat-chip>
                        </span>
                    </mat-chip-set>
                 </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <span *ngIf="item.type !== undefined && item.type !== 'group'">
            <table>
                <tr *ngIf="item.code !== undefined">
                    <td>Question Code</td>
                    <td>{{getTerminologyDisplay(item.code)}}
                        <button *ngIf="item.code.length > 0" mat-icon-button (click)="showConcept(item.code[0])" color="primary"><mat-icon>info</mat-icon></button>
                    </td>
                </tr>
                <tr>
                    <td>Answer Type</td>
                    <td>
                        <span *ngIf="item.type !== undefined">
                            <mat-chip>{{ item.type }}</mat-chip>
                        </span>
                    </td>
                </tr>
                <tr *ngIf="item.answerValueSet !== undefined">
                    <td>Answer ValueSet</td>
                    <td>
                        <a href="{{'https://simplifier.net/resolve?fhirVersion=R4&canonical='+item.answerValueSet}}" target="_blank">{{item.answerValueSet}}</a>
                        <span *ngIf="valueSetNotFound">
                            &nbsp;
                            <button mat-icon-button color="warn" matTooltip="Issue with expanding or retrieving valueset">
                                <mat-icon>warning</mat-icon>
                            </button>
                        </span>
                    </td>
                </tr>
                <tr *ngIf="hasUnitsAllowed()">
                    <td>Answer Units</td>
                    <td>
                        <table class="mat-elevation-z8">
                            <tr>
                                <th>Code</th>
                                <th>Display</th>
                                <th>System</th>
                            </tr>
                            <tr *ngFor="let unit of getUnitsAllowed()">
                                <td>{{unit.code}}</td>
                                <td>{{unit.display}}</td>
                                 <td>{{unit.system}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <span *ngIf="dataSource !== undefined">
                <br/>
                <br/>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

                    <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Code </th>
                    <td mat-cell *matCellDef="let element"> <span *ngIf="element.valueCoding !== undefined">
                        {{element.valueCoding.code}}
                        <button *ngIf="element.valueCoding.system !== undefined && element.valueCoding.system === 'http://snomed.info/sct'"
                                mat-icon-button (click)="showConcept(element.valueCoding)" color="primary"><mat-icon>info</mat-icon></button>
                    </span> </td>
                  </ng-container>
                  <ng-container matColumnDef="display">
                    <th mat-header-cell *matHeaderCellDef> Display </th>
                    <td mat-cell *matCellDef="let element"> <span *ngIf="element.valueCoding !== undefined">
                        {{element.valueCoding.display}}
                    </span> </td>
                  </ng-container>
                  <ng-container matColumnDef="codesystem">
                    <th mat-header-cell *matHeaderCellDef> CodeSystem </th>
                    <td mat-cell *matCellDef="let element"> <span *ngIf="element.valueCoding !== undefined">
                        {{element.valueCoding.system}}
                    </span> </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                 <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                <br/>
            </span>
            <table>

                <tr *ngIf="item.definition !== undefined">
                    <td>Extraction/Population Mapping</td>
                    <td>
                        <!--<span *ngIf="item.definition === undefined && item.code !== undefined">
                            <mat-chip>Observation</mat-chip> element: {{ getObservationValueType(item) }}
                        </span> -->
                        <span *ngIf="item.definition !== undefined">
                            <mat-chip>{{getDefinitionResource(item.definition)}}</mat-chip> element: {{getDefinitionElement(item.definition)}}
                        </span>
                    </td>
                </tr>
            </table>
        </span>
    </mat-expansion-panel>
</div>
