<mat-drawer-container class="page-container" autosize>
    <mat-drawer #drawer opened="true" class="page-sidenav" mode="side">
        <h3>FHIR Documents</h3>
        <div layout="row">
            <button mat-raised-button (click)="openInfo()">
                <mat-icon>info</mat-icon>
            </button>
            <span *ngIf="resource !== undefined">
                   &nbsp; <button mat-raised-button color="primary" (click)="showDocument()">Show</button>
                </span>
        </div>
        <div style="height: calc(100vh - 100px)" >
            <ngx-monaco-editor  class="my-code-editor"  style="height: 100%;" [options]="editorOptions" [(ngModel)]="data" (ngModelChange)="checkType()" (onInit)="onInit($event)"></ngx-monaco-editor>
        </div>
    </mat-drawer>
        <div>
        <mat-card *ngIf="patient !== undefined && patient.text !== undefined">
            <mat-card-header><h2>Patient</h2></mat-card-header>
            <mat-card-content>
                <div [innerHTML]="patient.text.div"></div>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="composition !== undefined && composition.text !== undefined">
            <mat-card-header>
            <h2>Introduction</h2>
            </mat-card-header>
            <mat-card-content>
            <div [innerHTML]="composition.text.div"></div>
            </mat-card-content>
        </mat-card>
            <span *ngIf="composition!== undefined && composition.section !== undefined">
                <span *ngFor="let section of composition.section">
                   <app-document-section [section]="section" (reference)="select($event)"></app-document-section>
                </span>
            </span>
        </div>
</mat-drawer-container>
