
<span *ngIf="questionnaire != undefined">
    <td-dynamic-forms [elements]="textElementsTitle">
     <ng-template let-element ngFor [ngForOf]="textElementsTitle">
       <ng-template let-control="control" [tdDynamicFormsError]="element.name">
         <span *ngIf="control.touched || !control.pristine">
           <span *ngIf="control.hasError('minlength')"
           >Min length value: {{ element.minLength }}</span
           >
           <span *ngIf="control.hasError('maxlength')"
           >Max length value: {{ element.minLength }}</span
           >
         </span>
       </ng-template>
     </ng-template>
    </td-dynamic-forms>
     <table class="mat-elevation-z8">
     <tr *ngIf="questionnaire.code !== undefined">
         <td>Questionnaire Code</td>
         <td >
                 <span *ngFor="let code of questionnaire.code">
                        {{getTerminologyDisplayCode(code)}}
                     <button  mat-icon-button (click)="showConcept(code)" color="primary"><mat-icon>info</mat-icon></button>
                 </span>
        </td>
         </tr>
         <tr *ngIf="dataSourceUsage !== undefined && dataSourceUsage.data.length > 0">
             <td>Usage</td>
         <td>


                <table mat-table [dataSource]="dataSourceUsage" class="mat-elevation-z8 demo-table">
                    <ng-container matColumnDef="context">
                        <th mat-header-cell *matHeaderCellDef> Context </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.code !== undefined">
                                {{element.code.code}}
                            </span>
                        </td>
                      </ng-container>
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef> Code </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.valueCodeableConcept !== undefined && element.valueCodeableConcept.coding !== undefined">
                            <span *ngFor="let coding of element.valueCodeableConcept.coding">
                                       {{getTerminologyDisplayCode(coding)}}
                                <button *ngIf="coding.system !== undefined && coding.system === 'http://snomed.info/sct'"
                                        mat-icon-button (click)="showConcept(coding)" color="primary"><mat-icon>info</mat-icon></button>
                            </span>

                            </span>
                        </td>
                      </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsUsage"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsUsage;"></tr>
                </table>
                <br/>

         </td>
     </tr>
     </table>

    <h3>Description</h3>
    <td-markdown *ngIf="questionnaire.description !== undefined" [content]="questionnaire.description"></td-markdown>

    <h3>Purpose</h3>
    <td-markdown *ngIf="questionnaire.purpose !== undefined" [content]="questionnaire.purpose"></td-markdown>

     <h3>Copyright</h3>
    <td-markdown *ngIf="questionnaire.copyright !== undefined" [content]="questionnaire.copyright"></td-markdown>


    <!--
    <td-dynamic-forms [elements]="textElementsBody">
     <ng-template let-element ngFor [ngForOf]="textElementsBody">
       <ng-template let-control="control" [tdDynamicFormsError]="element.name">
         <span *ngIf="control.touched || !control.pristine">
           <span *ngIf="control.hasError('minlength')"
           >Min length value: {{ element.minLength }}</span
           >
           <span *ngIf="control.hasError('maxlength')"
           >Max length value: {{ element.minLength }}</span
           >
         </span>
       </ng-template>
     </ng-template>
    </td-dynamic-forms>
    -->
</span>

