<td-layout class="layout-nav-demo" sidenavWidth="280px">
    <td-navigation-drawer
            flex>
        <mat-nav-list>

            <a mat-list-item routerLink="/" tdLayoutToggle>
                <mat-icon matListItemIcon>home</mat-icon>
                Validate
            </a>

            <a mat-list-item routerLink="/questionnaire" tdLayoutToggle>
                <mat-icon matListItemIcon>dynamic_form</mat-icon>
                Questionnaires
            </a>
            <a mat-list-item routerLink="/document" tdLayoutToggle>
                <mat-icon matListItemIcon>receipt</mat-icon>
                Clinical Documents
            </a>

              <a mat-list-item routerLink="/ecl" tdLayoutToggle>
                  <mat-icon matListItemIcon>handyman</mat-icon>
                  SNOMED ECL Builder
              </a>


            <a mat-list-item routerLink="/api" tdLayoutToggle>
                <mat-icon matListItemIcon>api</mat-icon>
                API Definition
            </a>
            <a mat-list-item routerLink="/information" tdLayoutToggle>
                <mat-icon matListItemIcon>settings</mat-icon>
                Configuration
            </a>
            <a mat-list-item tdLayoutToggle>
                <mat-icon matListItemIcon>close</mat-icon>
                Close
            </a>
        </mat-nav-list>

    </td-navigation-drawer>

    <td-layout-nav-list navigationRoute="/"  toolbarTitle="" [opened]=false mode="side" color="primary">
        <div td-toolbar-content layout-align="space-between center" flex >
            <div flex flex-order-xs="2" layout="row" layout-align="center center">
                <button mat-icon-button tdLayoutToggle>
                    <mat-icon>menu</mat-icon>
                </button>
                FHIR Development and Testing Tools (skunkworks)
                <span flex>
            </span>
                <a mat-icon-button [href]="getSwagger()" target="_blank" matTooltip="OAS/Swagger documention for the API"><mat-icon>api</mat-icon></a>
                <a mat-icon-button href="https://github.com/NHSDigital/IOPS-Validation-UI" target="_blank" matTooltip="Github source code"><i class="fa fa-github" style="font-size:24px"></i></a>
            </div>
        </div>
        <router-outlet></router-outlet>
    </td-layout-nav-list>
</td-layout>

