<td-layout class="layout-nav-demo" sidenavWidth="280px">
    <td-navigation-drawer
            flex>
        <mat-nav-list>

            <a mat-list-item routerLink="/" tdLayoutToggle>
                <mat-icon matListItemIcon>home</mat-icon>
                Validate
            </a>
            <a mat-list-item routerLink="/api" tdLayoutToggle>
                <mat-icon matListItemIcon>api</mat-icon>
               API (CapabilityStatement)
            </a>
            <a mat-list-item routerLink="/information" tdLayoutToggle>
                <mat-icon matListItemIcon>settings</mat-icon>
                Conformance
            </a>
            <a mat-list-item tdLayoutToggle>
                <mat-icon matListItemIcon>close</mat-icon>
                Close
            </a>
        </mat-nav-list>

    </td-navigation-drawer>
    <td-layout-nav-list navigationRoute="/" [opened]=false mode="side">


        <div td-toolbar-content layout-align="space-between center" flex>
            <div flex flex-order-xs="2" layout="row" layout-align="center center">
                <button mat-icon-button td-menu-button tdLayoutToggle>
                    <mat-icon>menu</mat-icon>
                </button>
                FHIR Development
                <span flex>
            </span>
                <td-dynamic-menu [trigger]="triggerDataStandards" [items]="dataStandards"></td-dynamic-menu>
                <td-dynamic-menu [trigger]="triggerInteroperabilty" [items]="interoperability"></td-dynamic-menu>
                <td-dynamic-menu [trigger]="triggerEnterprise" [items]="enterprise"></td-dynamic-menu>
                <td-dynamic-menu [trigger]="triggerDeveloper" [items]="developer"></td-dynamic-menu>
                <a mat-icon-button href="https://github.com/NHSDigital/IOPS-Validation-UI" target="_blank"><i class="fa fa-github" style="font-size:24px"></i></a>
            </div>
        </div>
        <router-outlet></router-outlet>
    </td-layout-nav-list>
</td-layout>

