<mat-card>
    <mat-card-header>
        <h3>{{section.title}}</h3>
    </mat-card-header>
    <mat-card-content>
        <span *ngIf="section !== undefined && section.text !== undefined">
            <div [innerHTML]="section.text.div"></div>
        </span>

        <span *ngIf="section !== undefined && section.section !== undefined">
            <span *ngFor="let section2 of section.section">
                <app-document-section [section]="section2" (reference)="select($event)"></app-document-section>
            </span>
        </span>
        <span *ngFor="let entry of section.entry">
            <button mat-raised-button color="primary" (click)="select(entry)" matTooltip="This would not normally be present in a html view of the document" >{{entry.reference}}</button>
        </span>
    </mat-card-content>
</mat-card>

