/* You can add global styles to this file, and also import other style files */
.my-code-editor {
  .editor-container {
    height: calc(100vh - 100px);
  }
}
.example-full {
  width: 100%;
}

.mat-elevation-z8 {
  overflow-x: auto;
}
.example-third-width {
  width: 30%;
}
.example-half-width {
  width: 30%;
}
table {
  width: 100%;
}

.example-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.container {
  height: auto;
  overflow: hidden;
  position: relative;
}
.div1{
  width:50%;
  margin-top: 16px;
  margin-bottom:-16px;
}
.div2{
  width:50%;
  margin-top: 16px;
  float: right;
  overflow: hidden;

}
