@use '@angular/material' as mat;
@import '../node_modules/@covalent/core/theming/all-theme';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '../node_modules/@covalent/markdown/markdown-theme';
@import '../node_modules/@covalent/highlight/highlight-theme';
@import '../node_modules/@covalent/flavored-markdown/flavored-markdown-theme';

@include mat.all-component-typographies();

@include mat.core();


$typography: mat.define-legacy-typography-config(
        $font-family: 'Roboto, monospace',
        $headline: mat.define-typography-level(32px, 48px, 700)
);

$primary: mat.define-palette(mat.$blue-palette, 700);
$accent: mat.define-palette(mat.$green-palette, 800, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$warn: mat.define-palette(mat.$red-palette,600);

$theme: mat.define-light-theme((
        color: (
                primary: $primary,
                accent: $accent,
                warn: $warn,
        ),
        typography: mat.define-typography-config(),
        density: 0,
));

$background: map-get($theme, background);


//mat.angular-material-theme($theme);
//@include mat.angular-material-theme($theme);
@include mat.core-theme($theme);

@include mat.all-component-themes($theme);
// Setting the toolbar to the proper spec weight
@include mat.toolbar-typography($typography);

//@include covalent-theme($theme, $typography);
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme($theme);
@include covalent-flavored-markdown-theme($theme);
@include covalent-utilities();

// Include flex layout classes
@include covalent-layout();


.mat-app-background {
        background-color: map-get($background, background);
}


body .mat-card {
        border-radius: 8px;
}
.fullscreen {
        height: 100%;
}
mat-nav-list, mat-list {
        [mat-list-item].active {
                mat-icon[matListAvatar] {
                        background-color: mat-color($accent);
                        color: mat-color($accent, default-contrast);
                }
                mat-icon[matListIcon] {
                        color: mat-color($accent);
                }
        }
}
