@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@import '@angular/material/theming';
@import '../node_modules/@covalent/core/theming/all-theme';
@import '../node_modules/@covalent/markdown/markdown-theme';
@import '../node_modules/@covalent/highlight/highlight-theme';

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$typography: mat.define-legacy-typography-config(
        $font-family: 'Roboto, monospace',
        $headline: mat.define-typography-level(32px, 48px, 700)
);

$primary: mat.define-palette(mat.$blue-palette, 700);
$accent: mat.define-palette(mat.$orange-palette, 800, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$warn: mat.define-palette(mat.$red-palette,600);

$theme: mat.define-light-theme((
        color: (
                primary: $primary,
                accent: $accent,
                warn: $warn,
        ),
        typography: mat.define-legacy-typography-config(),
        density: 0,
));

@include mat.legacy-core-theme($theme);
@include mat.all-legacy-component-themes($theme);
@include angular-material-theme($theme);
@include covalent-theme($theme, $typography);

// (optional) Additional themes
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme($theme);
@include covalent-utilities();

// Include flex layout classes
@include covalent-layout();

body .mat-card {
        border-radius: 8px;
}
.fullscreen {
        height: 100%;
}
mat-nav-list, mat-list {
        [mat-list-item].active {
                mat-icon[matListAvatar] {
                        background-color: mat-color($accent);
                        color: mat-color($accent, default-contrast);
                }
                mat-icon[matListIcon] {
                        color: mat-color($accent);
                }
        }
}
