<mat-card xmlns="http://www.w3.org/1999/html">
    <mat-card-header>
        <h3>FHIR Validation (Prototype)</h3>
    </mat-card-header>
      <mat-card-content >
          <div *tdLoading=" 'overlayStarSyntax';
   mode: loadingMode.Indeterminate;
   type: loadingType.Circular;
   strategy: loadingStrategy.Overlay;
   color: 'accent'">
          <td-markdown>{{ markdown }}</td-markdown>
            <div layout="row">
              <td-file-input
                      class="push-left-sm push-right-sm"
                      #fileInput
                      [(ngModel)]="files"
                      (selectFile)="selectFileEvent($event)"
                      accept=".json,.xml"
                      multiple
              >
                  <mat-icon>folder</mat-icon>
                  <span class="text-upper">Browse...</span>
              </td-file-input>
              <div *ngIf="fileList !== undefined">
                  <span>Files Selected&nbsp;</span>
                  <button mat-raised-button  (click)="clearSelection()">Clear</button>
              </div>
                <div *ngIf="editorOptions.language === 'xml'">

                    <button mat-raised-button  (click)="convertJSON()">Convert to JSON</button>
                    <button mat-raised-button  (click)="convertSTU3JSON()">Convert STU3 to JSON</button>

                </div>
                <span *ngIf="fileList !== undefined || resource !== undefined">
                        <mat-checkbox class="example-margin" color="primary"
                                      (ngModelChange)="clearReources()"
                                      [(ngModel)]="imposeProfiles" matTooltip="Additionally check against imposeProfile listed in the CapabilityStatement. This normally includes FHIR International Patient Summary (IPS), International Patient Access (IPA) and Structured Data Capture (SDC)">Impose Profiles (IPS, IPA and SDC)</mat-checkbox>
                </span>
                <span *ngIf="fileList !== undefined || resource !== undefined">
                   &nbsp; <button mat-raised-button color="primary" (click)="validate()">Validate</button>
                </span>
            </div>
          <div *ngIf="resourceType !== undefined && fileList== undefined" layout="row" layout-align="space-between center">
               <form class="example-form" flex="90">
                    <mat-form-field class="example-full" >
                        <mat-label>Select additional {{resourceType}} Profiles</mat-label>
                        <mat-select name="status" [(ngModel)]="profile" (ngModelChange)="applyProfile($event)">
                            <mat-option *ngFor="let profile of profiles" [value]="profile">
                                <span *ngIf="profile.title !== undefined">{{profile.title}}</span>
                                <span *ngIf="profile.title === undefined">{{profile.name}}</span>
                                      ({{profile.url}})
                            </mat-option>
                        </mat-select>
                         <mat-hint>Base FHIR and UK Core are automatically included in the validation. If you wish to include an extra profile, select from the list above.</mat-hint>
                    </mat-form-field>

               </form>
              &nbsp;
                <a *ngIf="profileUrl!== undefined" mat-raised-button href="{{profileUrl}}" target="_blank">View Profile</a>
          </div>

          <br/>
          <div #editorComponent>
          <div *ngIf="fileList == undefined" style="height: 500px" >
            <ngx-monaco-editor  class="my-code-editor"  style="height: 100%;" [options]="editorOptions" [(ngModel)]="data" (ngModelChange)="checkType()" (onInit)="onInit($event)"></ngx-monaco-editor>
          </div>
          </div>
        <!--  <button disabled mat-raised-button color="accent" (click)="validateBase()">Validate against Base FHIR</button> -->

          <br/>

          <div #test>
              <h2>FHIR Validation Results</h2>
          </div>
          <span *ngIf="resources.length>0">
              <mat-accordion class="example-headers-align" multi>
                  <span *ngFor="let res of resources">
                    <app-resource-test  [resource]="res.resource" [fileName]="res.fileName" [imposeProfiles]="imposeProfiles" [profile]="profile" (position)="setPosition($event)" (done)="resolveLoading()"></app-resource-test>
                  </span>
              </mat-accordion>
          </span>
          <span *ngIf="resources.length==0">
              <p>No results at present</p>
          </span>
          </div>
      </mat-card-content>

</mat-card>
