.example-full {
  width: 100%;
}

.mat-elevation-z8 {
  overflow-x: auto;
}
.example-third-width {
  width: 30%;
}
.example-half-width {
  width: 30%;
}
table {
  width: 100%;
}

.example-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}


